psycopg2-binary==2.9.5
django==4.0.0
djangorestframework==3.14.0
redgreenunittest==0.1.1
django-mysql==3.8.1
drf-spectacular==0.25.1
django-cors-headers==3.13.0
django-storages==1.13.1
pillow==9.3.0
boto3==1.26.14
python-dotenv~=0.21.0